<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <div class="title-shape">
            <svg viewBox="0 0 200 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M 0,10 C 40,0 60,20 100,10 C 140,0 160,20 200,10" fill="none" stroke="currentColor"
                    stroke-width="2">
                </path>
            </svg>
        </div>
        <p>Sample Resume section</p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
            <div class="col-12">
                <div class="resume-wrapper">
                    <div class="resume-block" data-aos="fade-up">
                        <h2>Work Experience</h2>
                        <p class="lead">Previous Companies Experience</p>

                        <div class="timeline">
                            @for (item of experiences; track $index) {
                            <div class="timeline-item" data-aos="fade-up" data-aos-delay="200">
                                <div class="timeline-left">
                                    <h4 class="company">{{item.company}}</h4>
                                    <span class="period">{{item.period}}</span>
                                </div>
                                <div class="timeline-dot"></div>
                                <div class="timeline-right">
                                    <h3 class="position">{{item.role}}</h3>
                                      <span class="value"  [innerHTML]="getSanitizedValue(item.description)"></span>   
                                </div>
                            </div>
                            }
                        </div>
                    </div>

                    <div class="resume-block" data-aos="fade-up" data-aos-delay="100">
                        <h2>My Education</h2>
                        <p class="lead">Education journey.</p>

                        <div class="timeline">
                           @for (item of education; track $index) {
                            <div class="timeline-item" data-aos="fade-up" data-aos-delay="200">
                                <div class="timeline-left">
                                    <h4 class="company">{{item.institution}}</h4>
                                    <span class="period">{{item.period}}</span>
                                </div>
                                <div class="timeline-dot"></div>
                                <div class="timeline-right">
                                    <h3 class="position">{{item.degree}}</h3>
                                    <span class="description"  [innerHTML]="getSanitizedValue(item.description)"></span>   
                                </div>
                            </div>
                        }
 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>